
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-dark {
    background-color: rgb(82, 135, 195);
}

.container {
    flex: 1; 
}

footer {
    height: 200px;
    background-color: #3c8eae;
    color: white;
    text-align: center;
    padding: 20px;
}
